@page
@model Asp_Core_Identity.Pages.Account.AddUserClaimModel
@{
}


<form asp-action="AddUserRole">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" name="Id" value="@Model.Id" />
    </div>
    <div class="form-group">
        <lable>@Model.Id</lable>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>